body{
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}
h1, h2, p {
  text-align: center;
}
h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
  font-size: 40px;
  margin: 0 0 15px;
}
h2{
  font-size: 30px;
}
.menu{
  width: 80%;
  background-color: burlywood;
  margin: auto;
  max-width: 500px;
  padding: 20px;
}
.established{
  font-style: italic;
}
.item p{
  display: inline-block;
  font-size: 18px;
  margin: 5px 0;
}
.flavor, .dessert{
  width: 70%;
  text-align: left;
}
.price{
  text-align: right;
  width: 30%;
}
hr{
  height: 2px;
  border-color: brown;
  background-color: brown;
}
a{
  color: black;
}

a:visited{
  color: black;
}
a:active{
  color: brown;
}
a:hover{
  color: brown;
}
footer{
  font-size: 14px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}